<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<% unless @seo.nil? %>
<meta name="author" content="<%= @seo.author %>" />
<meta name="description" content="<%= @seo.description %>" />
<meta name="keywords" content="<%= @seo.keywords %>" />
<% end %>

<%= compound_title_tag(['Derrata!', @product_name, @category_name, @campaign_name]) %>
<%= javascript_include_tag 'sorry' %>
<%= javascript_include_tag js_url(:action => "treemenu") %>
<%= javascript_include_tag 'rollover' %>
<%= javascript_include_tag 'login' %>
<%= stylesheet_link_tag "front/common" %>
<%= yield :head -%>
</head>

<body>
<div id="wrapper" class="clearfix">
  <div id="header" class="clearfix"><!-- ヘッダー -->
    <h1><%= link_to image_tag("common/top_logo_03.png", :width => "200", :height => "55", :alt => "Derrata"), :controller => :portal, :action => :show %></h1>
    <!--
  <div id="store_desc"><span>オリーブオイル専門サイト</span></div>
  -->
  <div id="my_menubox" class="clearfix">
    <ul>
      <li>
      <%- if @login_customer %>
        <span id="log" class="navgreeting"><%="こんにちは、#{h @login_customer.full_name}さん。" if @login_customer %></span>
        <span id="log">本人でない場合は<%= link_to 'こちら', :controller => :accounts, :action => :logout if @login_customer %>。</span>
      <%- else%>    
        <span id="log"><%= link_to 'ログイン/新規登録', :controller => :accounts, :action => :login %></span>
      <%- end %>
      </li>
      <li>
        <ul id="my_menu" class="clearfix">
          <li>
    <!--商品検索ボックス-->
    <% form_tag({:controller=>:products, :action=>:search, :only_path=>false}, {:method=>"get", :id=>'search-form'}) do %>
      <%= text_field_tag "search", params[:search], :size=>21, :id=>'area', :title=>'商品検索', :class=>"search_box" %>
      <%= image_submit_tag "/images/common/search_btn_02.gif", :alt=>"検索", :class=>"search_btn hoverImg" %>
    <% end %>
          </li>
      <%- if @login_customer %>
          <li><%= link_to image_tag("/images/common/mypage_btn_02.gif", :width=>"100", :height=>"21", :alt=>"マイページ", :class=>"hoverImg"), :controller => :accounts, :action => :history_list if @login_customer %></li>
    <!-- カート -->
          <li><%= render :partial => "/base/cart" %></li>
  <%- end %>
        </ul>
      </li>
      <li>
        <span id="recommend_search_words">おすすめ検索:</span>
        <span><%= link_to 'シャア専用', :controller => :products, :action => :search %></span>
        <span><%= link_to 'セモリナ粉', :controller => :products, :action => :search %></span>
        <span><%= link_to 'テレビマガジン', :controller => :products, :action => :search %></span>
      </li>
    </ul>
  </div><!-- /my_menubox -->
  </div><!-- /header -->
  <div id="container" class="clearfix">
    <%= yield %>
  </div><!-- /container -->
</div><!-- /wrapper -->

<div id="footer" class="clearfix"><!-- フッター -->
  <div id="foot_l">
    <ul id="foot_list" class="clearfix">
      <li><%= link_to '当サイトについて', {:controller => 'shop', :action => 'about'} %></li>
      <li><%= link_to 'お問合わせ', {:controller => 'inquiries', :action => 'show'} %></li>
      <li><%= link_to '特定商取引に関する法律', {:controller => 'portal', :action => 'show_tradelaw'} %></li>
      <li><%= link_to '個人情報保護方針・個人情報の取扱いについて', {:controller => 'portal', :action => 'privacy'} %></li>
      <li><%= link_to '免責事項について', {:controller => 'portal', :action => 'escape_clause'} %></li>
    </ul>
    <address>Copyright (c) 2000-2009 K&amp;Bstyle CO.LTD. All Rights Reserved.</address>
  </div>
  <div id="foot_r">
    <a href="#header"><%= image_tag("common/pagetop_btn.gif", :width => "79", :height => "24", :alt => "page top") %></a>
  </div>
</div><!-- /footer -->
<!--GoogleAnalytics トラッキングコード-->
<% if @system.googleanalytics_use_flag %>
  <%# @system.tracking_code %>
  <% if @system.googleanalytics_select_code == System::GA_SELECT_SYNCH %>
    <%= render :partial => '/base/googleanalytics_synchronous' %>
  <% elsif @system.googleanalytics_select_code == System::GA_SELECT_ASYNCH %>
    <%= render :partial => '/base/googleanalytics_asynchronous' %>
  <% else %>
    <%= @system.tracking_code %>
  <% end %>
<% end %>
<!--トラッキングコード end-->
</body>
</html>
